.groupLabel {
  text-transform: uppercase;
  color: color-mix(in srgb, var(--primary-color-text) 70%, transparent);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.menuItem {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  min-height: 32px;
}

.menuItem:hover,
.menuItem.active {
  background-color: var(--primary-color-4);
  position: relative;
  color: #111827; /* text-gray-900 */
}

.active .activeIndicator {
  background-color: var(--primary-color-9);
  content: "";
  top: 6px;
  bottom: 6px;
  position: absolute;
  left: 4px;
  z-index: 1;
  width: 3px;
  border-radius: 3px;
}

.menuItemContainer {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 1;
  background: var(--primary-color-2);
}
